<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Satuan</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Satuan</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nm" placeholder="Nama Satuan" maxlength="50">
					</div>
				</div>
				<div class="form-group">
                    <label class="col-sm-2 control-label">Kategori Unit</label>
                    <div class="col-sm-4">
                      	<div class="input-group">
                       		<input type="text" id="kategori" style="display:none;">
                       		<input type="text" class="form-control" id="nm_kategori"  readonly="readonly" placeholder="Nama Kategori Unit">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/kategoriunit',new Array('kategori','nm_kategori'))">...</a></div>
                       	</div>
                    </div>
                </div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/satuan/ains","/satuan/index?new=","i");
	  return false;
	});
</script>