<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbroom" class="table table-bordered table-hover">
				<thead align="center">
					<tr>
						<th>NAMA SUBKON</th>
						<th>ALAMAT</th>
						<th>KONTAK</th>
						<th>AKSI</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listSubkon as $data) { ?>
					<tr>
						<td><?php echo $data['nm_subkon']; ?></td>
						<td><?php echo $data['alamat']; ?></td>
						<td><?php echo $data['kontak']; ?></td>
						<td align="center">
							<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/subkon/edit?id=<?php echo $data['id_subkon'];?>')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus subkon ini ? <strong><?php echo str_replace("'", "\'", $data['nm_subkon']);?></strong>','<?php echo $this->baseUrl;?>','/subkon/adel',new Array('<?php echo $data['id_subkon'];?>'))"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					<?php $i++; } ?>
			</table>
		</div>
	</div>
</div>
<!-- DataTables -->
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/js/tabel.js"></script>
<script>$(function () {tabel('tbroom',true,true,true,true,true,false);});</script>