<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Subkon</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Subkon</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nm" placeholder="Nama Subkon" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Alamat</label>
					<div class="col-sm-4">
						<textarea class="form-control" id="alamat" placeholder="Alamat" maxlength="50"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kontak</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="kontak" placeholder="Kontak" maxlength="50">
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/subkon/ains","/subkon/index?new=","i");
	  return false;
	});
</script>