<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/plugins/select2/select2.min.css">
<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Filter</h3>
	</div>
	<form class="form-horizontal" method="post" id="frm">
		<div class="box-body">
			<div class="form-group">
				<label class="col-sm-2 control-label">Kas</label>
				<div class="col-sm-4">
					<select id="id_kas" class="form-control select2" multiple="multiple" data-placeholder="kas" sel-2>
						<?php foreach ($this->listKas as $dataKas) { ?>
						<option value="<?php echo $dataKas['id_kas']; ?>"><?php echo $dataKas['nm_kas']; ?></option>
						<?php } ?>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Tanggal Penerimaan *</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="tgl1" placeholder="dari tanggal" readonly>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Sampai Tanggal *</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="tgl2" placeholder="sampai tanggal" readonly>
				</div>
			</div>
			<div class="box-footer col-sm-6">
				<button type="submit" class="btn btn-info pull-right col-sm-2">Search</button>
			</div>
		</div>
	</form>
</div>
<script src="<?php echo $this->publicUrl;?>/plugins/select2/select2.full.min.js"></script>
<script>
	$("[sel-2]").select2();
</script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl1').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	  $('#tgl2').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  $("#frm").submit(function() {
	    ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/penerimaanlain/ashow","/penerimaanlain/list","s");
	    return false;
	  });
	});
</script>