<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Penerimaan Lain</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Kas</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_kas" style="display:none;">
                       		<input type="text" class="form-control" id="nm_kas" readonly="readonly" placeholder="Kas">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/kas',new Array('id_kas','nm_kas'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Penerimaan</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="tgl_penerimaan" placeholder="Tanggal Penerimaan" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Oincome</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_oincome" style="display:none;">
                       		<input type="text" class="form-control" id="nm_oincome" readonly="readonly" placeholder="Oincome">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/oincome',new Array('id_oincome','nm_oincome'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="keterangan" placeholder="Keterangan" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nominal</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="nominal" placeholder="Nominal" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nomer Bukti</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="no_bukti" placeholder="Nomer Bukti" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Status</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="status" placeholder="Status" maxlength="50">
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_penerimaan').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/penerimaanlain/ains","/penerimaanlain/list?new=","i");
	  return false;
	});
</script>