<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Data Konversi Unit</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="col-md-6">
					<div class="form-group">
	                    <label class="col-sm-4 control-label">Unit (Asal) *</label>
	                    <div class="col-sm-8">
	                       	<input type="hidden" id="u1" value="<?php echo $this->id1;?>">
	                       	<input type="text" class="form-control" id="nm_u1" readonly="readonly" placeholder="unit asal" value="<?php echo $this->nm1;?>">
	                    </div>
	                </div>
					<div class="form-group">
	                    <label class="col-sm-4 control-label">Unit (Konversi) *</label>
	                    <div class="col-sm-8">
	                       	<input type="hidden" id="u2" value="<?php echo $this->id2;?>">
	                       	<input type="text" class="form-control" id="nm_u2" readonly="readonly" placeholder="unit asal" value="<?php echo $this->nm2;?>">
	                    </div>
	                </div>
	                <div class="form-group">
					<label class="col-sm-4 control-label">Nilai Konversi *</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="konv" placeholder="konversi" min="0" step="0.000000000001" value="<?php echo $this->konv;?>">
						</div>
					</div>
					<div class="box-footer">
						<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
						<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/unitkonv/aupd","/unitkonv/index?new=","u");
	  return false;
	});
</script>