<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbroom" class="table table-bordered table-hover">
				<thead align="center">
					<tr>
						<th>UNIT</th>
						<th>UNIT KONVERSI</th>
						<th>NILAI KONVERSI</th>
						<th>AKSI</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listUnitkonv as $data) { ?>
					<tr>
						<td><?php echo $data['nm_unit_from']; ?></td>
						<td><?php echo $data['nm_unit_to']; ?></td>
						<td align="center"><?php echo number_format($data['konv'],5,',','.'); ?></td>
						<td align="center">
							<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/unitkonv/edit?id1=<?php echo $data['id_unit_from'];?>&id2=<?php echo $data['id_unit_to'];?>')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus konversi unit ini?','<?php echo $this->baseUrl;?>','/unitkonv/adel',new Array('<?php echo $data['id_unit_from'];?>','<?php echo $data['id_unit_to'];?>'))"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- DataTables -->
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/js/tabel.js"></script>
<script>$(function () {tabel('tbroom',true,true,true,true,true,false);});</script>