<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Konversi Unit</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="col-md-6">
					<div class="form-group">
	                    <label class="col-sm-4 control-label">Unit (Asal) *</label>
	                    <div class="col-sm-8">
	                      	<div class="input-group">
	                       		<input type="text" id="id_unit" style="display:none;">
	                       		<input type="text" class="form-control" id="nm_unit"  readonly="readonly" placeholder="Nama Unit">
	                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/satuan',new Array('id_unit','nm_unit'))">...</a></div>
	                       	</div>
	                    </div>
	                </div>
					<div class="form-group">
	                    <label class="col-sm-4 control-label">Unit (Konversi) *</label>
	                    <div class="col-sm-8">
	                      	<div class="input-group">
	                       		<input type="text" id="id_unit2" style="display:none;">
	                       		<input type="text" class="form-control" id="nm_unit2"  readonly="readonly" placeholder="Nama Unit">
	                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/satuan',new Array('id_unit2','nm_unit2'))">...</a></div>
	                       	</div>
	                    </div>
	                </div>
	                <div class="form-group">
					<label class="col-sm-4 control-label">Nilai Konversi *</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="konv" placeholder="konversi" min="0" step="0.000000000001">
						</div>
					</div>
					<div class="box-footer">
						<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
						<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/unitkonv/ains","/unitkonv/index?new=","i");
	  return false;
	});
</script>