<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Kas</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Kas</label>
					<div class="col-sm-4">
						<input type="hidden" id="id" value="<?php echo $this->id; ?>" >
						<input type="text" class="form-control" id="nm" placeholder="Nama Kas" maxlength="50" value="<?php echo $this->nm; ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">ID Tipe Kas</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_tipe_kas" style="display:none;" value="<?php echo $this->id_tipe_kas; ?>">
                       		<input type="text" class="form-control"  id="nm_tipe_kas" readonly="readonly" placeholder="Tipe Kas" value="<?php echo $this->nm_tipe_kas; ?>">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/tipekas',new Array('id_tipe_kas','nm_tipe_kas'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">ID Branch</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_branch" style="display:none;" value="<?php echo $this->id_branch; ?>">
                       		<input type="text" class="form-control"  id="id_kontak" readonly="readonly" placeholder="Branch" value="<?php echo $this->id_kontak; ?>">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/branch',new Array('id_branch','id_kontak'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nomor Rekening</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="no_rek" placeholder="Nomor Rekening" maxlength="50" value="<?php echo $this->no_rek; ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Pemilik Rekening</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="pemilik_rek" placeholder="Pemilik Rekening" maxlength="50" value="<?php echo $this->pemilik_rek; ?>">
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	   ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/kas/aupd","/kas/index?new=","u");
	  return false;
	});
</script>