<div class="box-header with-border">
	<h3 class="box-title">Entri Item </h3>
</div>
<div class="box-body">
	<?php if($this->closed=='f'){?>
	<form class="form-horizontal" method="post" id="frm2">
		<div class="box-body">
			<div class="col-md-6">
				<div class="form-group">
                    <label class="col-sm-4 control-label">Nama Item *</label>
                    <div class="col-sm-8">
                      	<div class="input-group">
                      		<input type="hidden" id="id" value="<?php echo $this->id; ?>">
                       		<input type="text" id="id_item" style="display:none;">
                       		<input type="text" class="form-control" id="nm_item"  readonly="readonly" placeholder="Nama Item">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/item',new Array('id_item','nm_item','kd_item','sat_item'))">...</a></div>
                       	</div>
                    </div>
                </div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Kode *</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="kd_item" placeholder="kode" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Satuan Default*</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="sat_item" placeholder="satuan" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">Quantity Beli *</label>
					<div class="col-sm-8">
						<input type="number" class="form-control" id="qty" placeholder="quantity" min="0.01" step="0.01">
					</div>
				</div>
				<div class="form-group">
                    <label class="col-sm-4 control-label">Satuan Beli *</label>
        			<div class="col-sm-8">
                  		<div class="input-group">
           					<input type="text" id="sat" style="display:none;">
        		       		<input type="text" class="form-control" id="nmsat" readonly="readonly" placeholder="satuan beli">
               				<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/satuan',new Array('sat','nmsat'))">...</a></div>
                       	</div>
            		</div>
        		</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Harga Satuan (Beli) *</label>
					<div class="col-sm-8">
						<input type="number" class="form-control" id="price" placeholder="harga satuan (beli)" min="0.01" step="0.01">
					</div>
				</div>
				<div class="box-footer">
					<button type="reset" id="rst" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-success pull-right col-sm-2">Tambah</button>
				</div>
			</div>
		</div>
	</form>
	<?php } ?>
	<div class="table-responsive">
		<table id="tbl" class="table table-bordered table-hover">
			<thead align="center">
				<tr>
					<th width="5%">No</th>
					<th>Item</th>
					<th width="15%">Harga Satuan Beli</th>
					<th width="8%">Qty Beli</th>
					<th width="15%">Satuan</th>
					<th width="8%">Qty Total</th>
					<th width="15%">Total Harga</th>
					<th width="10%">Aksi</th>
				</tr>
			</thead>
			<tbody>
				<?php $sumHarga=0;$n=1;foreach ($this->listPoItem as $data) { ?>
				<tr>
					<td align="center"><?php echo $n;?></td>
					<td><?php echo $data['nm_item']; ?></td>
					<td align="right"><?php echo number_format($data['price_beli'],2,',','.'); ?></td>
					<td align="center"><?php echo number_format($data['qty_po'],2,',','.'); ?></td>
					<td align="center"><?php echo $data['nm_unit_def']. " = ".$data['nm_unit_beli']." x ".$data['konv_satuan']; ?></td>
					<td align="center"><?php echo number_format($data['qty_po_konv'],2,',','.'); ?></td>
					<td align="right">
						<?php 
							$hrgTot=$data['price_beli']*$data['qty_po'];
							$sumHarga=$sumHarga+$hrgTot;
							echo number_format($hrgTot,2,',','.');
						?>
					</td>
					<td align="center">
						<?php if($this->closed=='f'){?>
						<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/po/edit2?id=<?php echo $data['id_po_item'];?>')"><i class="fa fa-pencil"></i></button>
						<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus pemesanan ini?','<?php echo $this->baseUrl;?>','/po/adel2',new Array('<?php echo $data['id_po_item'];?>'))"><i class="fa fa-remove"></i></button>
						<?php } ?>
					</td>
				</tr>
				<?php $n++;} ?>
				<tr>
					<td align="center" colspan="6"><strong>Total Harga Pemesanan</strong></td>
					<td align="right"><strong><?php echo number_format($sumHarga,2,',','.');?></strong></td>
					<td></td>
				</tr>
		</table>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm2").submit(function() {
	  ajaxSubmit("frm2","<?php echo $this->baseUrl;?>","/po/ains2","/po/new2?bb=<?php echo $this->bb;?>&id=<?php echo $this->id;?>&tab=itm&new=","u");
	  return false;
	});
</script>