<div class="box-header with-border">
	<h3 class="box-title">Data Pemesanan Item </h3>
</div>
<div class="box-body">
	<div class="col-md-6">
		<div class="col-sm-4">No.Pemesanan</div>
		<div class="col-sm-8">: <?php echo $this->kd;?></div>
		<div class="col-sm-4">Tanggal</div>
		<div class="col-sm-8">: <?php echo $this->tgl;?></div>
		<div class="col-sm-4">Keterangan</div>
		<div class="col-sm-8">: <?php echo $this->ket;?></div>
		<div class="col-sm-4">Supplier</div>
		<div class="col-sm-8">: <?php echo $this->nmsupp;?></div>
		<div class="col-sm-4">Status</div>
		<div class="col-sm-8">: <span class="label label-<?php echo $this->warna;?>"><?php echo $this->stat;?></span></div>
	</div>
	<div class="col-md-6">
		<div class="col-sm-4">PPN-M (10%)</div>
		<div class="col-sm-8">: <?php echo $this->vat;?></div>
		<div class="col-sm-4">Diskon</div>
		<div class="col-sm-8">: <?php echo $this->disc;?></div>
		<div class="col-sm-4">Est. Biaya Kirim</div>
		<div class="col-sm-8">: <?php echo number_format($this->freight,2,',','.');?></div>
	</div>
</div>
<div class="box-body">
	<div class="table-responsive">
		<table id="tbl" class="table table-bordered table-hover">
			<thead align="center">
				<tr>
					<th width="5%">No</th>
					<th>Item</th>
					<th width="15%">Harga Beli</th>
					<th width="8%">Qty Beli</th>
					<th width="15%">Satuan</th>
					<th width="8%">Qty Total</th>
					<th width="15%">Total</th>
				</tr>
			</thead>
			<tbody>
				<?php $sumHarga1=0;$n=1;foreach ($this->listPoItem as $data) { ?>
				<tr>
					<td align="center"><?php echo $n;?></td>
					<td><?php echo $data['nm_item']; ?></td>
					<td align="right"><?php echo number_format($data['price_beli'],2,',','.'); ?></td>
					<td align="center"><?php echo number_format($data['qty_po'],2,',','.'); ?></td>
					<td align="center"><?php echo $data['nm_unit_def']. " = ".$data['nm_unit_beli']." x ".$data['konv_satuan']; ?></td>
					<td align="center"><?php echo number_format($data['qty_po_konv'],2,',','.'); ?></td>
					<td align="right">
						<?php 
							$hrgTot=$data['price_beli']*$data['qty_po'];
							$sumHarga1=$sumHarga1+$hrgTot;
							echo number_format($hrgTot,2,',','.');
						?>
					</td>
				</tr>
				<?php $n++;} ?>
				<tr>
					<td align="center" colspan="6"><strong>Total Harga Pemesanan</strong></td>
					<td align="right"><strong><?php echo number_format($sumHarga1,2,',','.');?></strong></td>
				</tr>
		</table>
	</div>
	<div class="table-responsive">
		<table id="tbl" class="table table-bordered table-hover">
			<tbody>
				<tr>
					<td width="70%"><strong>TOTAL HARGA SELURUH ITEM</strong></td>
					<td align="right"><strong><?php echo number_format($sumHarga1,2,',','.')?></strong></td>
				</tr>
				<tr>
					<td width="70%"><strong>DISKON PEMBELIAN</strong></td>
					<td align="right"><strong><?php echo number_format(floatval($this->disc),2,',','.');?></strong></td>
				</tr>
				<tr>
					<td width="70%"><strong>TOTAL SEBELUM PAJAK</strong></td>
					<?php 
						$totBefTax=$sumHarga1-(floatval($this->disc));
					?>
					<td align="right"><strong><?php echo number_format($totBefTax,2,',','.');?></strong></td>
				</tr>
				<tr>
					<td width="70%"><strong>PPN 10% : <?php echo $this->vat;?></strong></td>
					<?php 
						$tax=$totBefTax*floatval($this->vat_val)/100;
					?>
					<td align="right"><strong><?php echo number_format($tax,2,',','.');?></strong></td>
				</tr>
				<tr>
					<td width="70%"><strong>TOTAL SETELAH PAJAK</strong></td>
					<td align="right"><strong><?php echo number_format(($totBefTax+$tax),2,',','.');?></strong></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>