<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Detil Pemesanan</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm2">
			<div class="box-body">
				<div class="col-md-6">
					<div class="form-group">
	                    <label class="col-sm-4 control-label">Nama Item *</label>
	                    <div class="col-sm-8">
	                      	<div class="input-group">
	                      		<input type="hidden" id="id" value="<?php echo $this->id;?>">
	                      		<input type="hidden" id="id_po" value="<?php echo $this->id_po;?>">
	                       		<input type="text" id="id_item" style="display:none;" value="<?php echo $this->id_item;?>">
	                       		<input type="text" class="form-control" id="nm_item"  readonly="readonly" placeholder="Nama Item" value="<?php echo $this->nm_item;?>">
	                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/item',new Array('id_item','nm_item','kd_item','sat_item'))">...</a></div>
	                       	</div>
	                    </div>
	                </div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Kode *</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="kd_item" placeholder="kode" readonly value="<?php echo $this->kd_item;?>">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Satuan Default*</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="sat_item" placeholder="satuan" readonly value="<?php echo $this->unit_def;?>">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 control-label">Quantity Beli *</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="qty" placeholder="quantity" min="0.01" step="0.01" value="<?php echo $this->qty_po;?>">
						</div>
					</div>
					<div class="form-group">
                	    <label class="col-sm-4 control-label">Satuan Beli *</label>
                	    <div class="col-sm-8">
	                  		<div class="input-group">
	           					<input type="text" id="sat" style="display:none;" value="<?php echo $this->id_unit_po;?>">
	        		       		<input type="text" class="form-control" id="nmsat" readonly="readonly" placeholder="satuan beli" value="<?php echo $this->nm_unit_po;?>">
	               				<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/satuan',new Array('sat','nmsat'))">...</a></div>
	                       	</div>
	            		</div>
	        		</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Harga Satuan (Beli) *</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="price" placeholder="harga satuan (beli)" min="0.01" step="0.01" value="<?php echo $this->price_beli;?>">
						</div>
					</div>
					<div class="box-footer">
						<button type="reset" id="rst" class="btn btn-default pull-left col-sm-2">Reset</button>
						<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm2").submit(function() {
	  ajaxSubmit("frm2","<?php echo $this->baseUrl;?>","/po/aupd2","/po/new2?bb=<?php echo $this->bb;?>&id=<?php echo $this->id_po;?>&tab=itm&new=","u");
	  return false;
	});
</script>