<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbroom" class="table table-bordered table-hover">
				<thead align="center">
					<tr>
						<th>NO.PO</th>
						<th>TGL.PO</th>
						<th>KETERANGAN</th>
						<th>SUPPLIER</th>
						<th>VAT IN</th>
						<th>EST FREIGHT</th>
						<th>STATUS</th>
						<th>FOB</th>
						<th>TERMIN</th>
						<th>AKSI</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listPo as $data) { ?>
					<tr>
						<td><?php echo $data['no_po']; ?></td>
						<td><?php echo $data['tgl_po_fmt']; ?></td>
						<td><?php echo $data['keterangan']; ?></td>
						<td><?php echo $data['nm_supplier']; ?></td>
						<td><?php echo $data['vat_in'].'%'; ?></td>
						<td><?php echo $data['est_freight']; ?></td>
						<?php 
							if($data['closed']=='t'){
								$closed="CLOSED";
								$color="success";
							}else{
								$closed="OPEN";
								$color="danger";
							}
						?>
						<td align="center"><span class="label label-<?php echo $color;?>"><?php echo $closed; ?></span></td>
						<td><?php echo $data['id_fob']; ?></td>
						<td><?php echo $data['id_termin']; ?></td>
						<td align="center">
							<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/po/edit?id=<?php echo $data['id_po'];?>')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus po ini ? <strong><?php echo str_replace("'", "\'", $data['no_po']);?></strong>','<?php echo $this->baseUrl;?>','/po/adel',new Array('<?php echo $data['id_po'];?>'))"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					<?php $i++; } ?>
			</table>
		</div>
	</div>
</div>
<!-- DataTables -->
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/js/tabel.js"></script>
<script>$(function () {tabel('tbroom',true,true,true,true,true,false);});</script>