<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data PO</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal PO</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="tgl_po" placeholder="Tanggal po" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<textarea class="form-control" id="keterangan" placeholder="Keterangan" maxlength="50"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Supplier</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_supplier" style="display:none;">
                       		<input type="text" class="form-control" id="nm_supplier" readonly="readonly" placeholder="Supplier">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/supplier',new Array('id_supplier','nm_supplier'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Vat In</label>
					<div class="col-sm-4">
						<select class="form-control" id="vat_in">
							<option value="10">YA</option>
							<option value="0">Tidak</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Diskon PO</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="diskon_po" placeholder="Diskon" min="1" step="0.01"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Est Freight</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="est_freight" placeholder="Est Freight" min="0" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Fob</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="id_fob" placeholder="Fob" maxlength="50"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Termin</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="id_termin" placeholder="Termin" maxlength="50"></textarea>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-4">Simpan Dan Lanjutkan Item</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_po').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/po/ains","/po/new2?bb=n&id=","u");

	  return false;
	});
</script>
