<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Detil Pemesanan Item </h3>
	</div>
	<?php if($this->closed=='f'){?>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 control-label">Tanggal *</label>
						<div class="col-sm-8">
							<input type="hidden" id="id" value="<?php echo $this->id;?>">
							<input type="text" class="form-control" id="tgl" placeholder="tanggal pemesanan" readonly value="<?php echo $this->tgl;?>">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Keterangan *</label>
						<div class="col-sm-8">
							<textarea class="form-control" rows="4" placeholder="keterangan" id="ket"><?php echo $this->ket;?></textarea>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 control-label">Diskon</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="disc" placeholder="diskon" min="0" step="0.01" value="<?php echo $this->disc;?>">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Estimasi Biaya Kirim</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="freight" placeholder="biaya kirim" min="0" step="0.01" value="<?php echo $this->freight;?>">
						</div>
					</div>
					<div class="box-footer">
						<button type="reset" id="rst" class="btn btn-default pull-left col-sm-2">Reset</button>
						<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<?php } ?>
	<div class="box-body">
		<button class="btn bg-navy btn-flat" onclick="nav('<?php echo $this->baseUrl;?>/po/new2?id=<?php echo $this->id;?>&bb=<?php echo $this->bb;?>')" <?php echo $this->dOview;?>><i class="fa fa-newspaper-o"></i>&nbsp;Overview</button>
		<button class="btn btn-success btn-flat" onclick="nav('<?php echo $this->baseUrl;?>/po/new2?id=<?php echo $this->id;?>&bb=<?php echo $this->bb;?>&tab=itm')" <?php echo $this->dItm;?>><i class="fa fa-cubes"></i>&nbsp;Item</button>
		<div class="box box-info">
			<?php echo $this->render('po/'.$this->page);?>
		</div>
	</div>
</div>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl').daterangepicker({singleDatePicker:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/po/aupd","/po/new2?bb=<?php echo $this->bb;?>&id=<?php echo $this->id;?>&new=","u");
	  return false;
	});
</script>