<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbroom" class="table table-bordered table-hover">
				<thead align="center">
					<tr>
						<th>NAMA KONTAK</th>
						<th>POS</th>
						<th>AKSI</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listCustomer as $data) { ?>
					<tr>
						<td><?php echo $data['nm_kontak']; ?></td>
						<td><?php echo $data['pos']; ?></td>
						<td align="center">
							<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/customer/edit?id=<?php echo $data['id_customer'];?>')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus customer ini ? <strong><?php echo str_replace("'", "\'", $data['nm_customer']);?></strong>','<?php echo $this->baseUrl;?>','/customer/adel',new Array('<?php echo $data['id_customer'];?>'))"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					<?php $i++; } ?>
			</table>
		</div>
	</div>
</div>
<!-- DataTables -->
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl;?>/js/tabel.js"></script>
<script>$(function () {tabel('tbroom',true,true,true,true,true,false);});</script>