<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Customer</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Kontak</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_tipe_kontak" style="display:none;">
                       		<input type="text" class="form-control" id="nm_tipe_kontak" readonly="readonly" placeholder="Nama Kontak">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/tipekontak',new Array('id_tipe_kontak','nm_tipe_kontak'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Pos</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="pos" placeholder="Pos" maxlength="50">
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/customer/ains","/customer/index?new=","i");
	  return false;
	});
</script>