<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA Branch</th>
					
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listBranch as $dataBranch) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataBranch['id_branch']);?>','<?php echo escQuoteJS($dataBranch['id_kontak']);?>'))">
						<td><?php echo $dataBranch['id_kontak']; ?></td>
						
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>