<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA CLUSTER</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listCluster as $dataCluster) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataCluster['id_cluster']);?>','<?php echo escQuoteJS($dataCluster['nm_cluster']);?>'))">
						<td><?php echo $dataCluster['nm_cluster']; ?></td>
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>