<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbwil" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA CUSTOMER</th>
						<th>NIK</th>
						<th>KONTAK</th>
						<th>EMAIL</th>
						
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listCustomer as $dataCustomer) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataCustomer['id_customer']);?>','<?php echo escQuoteJS($dataCustomer['nm_customer']);?>','<?php echo escQuoteJS($dataCustomer['kontak']);?>'))">
						<td><?php echo $dataCustomer['nm_customer']; ?></td>
						<td><?php echo $dataCustomer['nik']; ?></td>
						<td><?php echo $dataCustomer['kontak']; ?></td>
						<td><?php echo $dataCustomer['email']; ?></td>
					</tr>
					<?php $i++; } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbwil',true,true,true,true,true,true);});</script>