<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA CLASS</th>
					
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listItemClass as $dataItemClass) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataItemClass['id_item_class']);?>','<?php echo escQuoteJS($dataItemClass['nm_class']);?>'))">
						<td><?php echo $dataItemClass['nm_class']; ?></td>
						
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>