<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA ITEM</th>
						<th>KODE ITEM</th>
						<th>NAMA SATUAN</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listItem as $dataItem) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataItem['id_item']);?>','<?php echo escQuoteJS($dataItem['nm_item']);?>','<?php echo escQuoteJS($dataItem['kd_item']);?>','<?php echo escQuoteJS($dataItem['nm_unit']);?>'))">
						<td><?php echo $dataItem['nm_item']; ?></td>
						<td><?php echo $dataItem['kd_item']; ?></td>
						<td><?php echo $dataItem['nm_unit']; ?></td>
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>