<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA KAS</th>
						<th>NAMA BRANCH</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listKas as $dataKas) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataKas['id_kas']);?>','<?php echo escQuoteJS($dataKas['nm_kas']);?>','<?php echo escQuoteJS($dataKas['nm_branch']);?>'))">
						<td><?php echo $dataKas['nm_kas']; ?></td>
						<td><?php echo $dataKas['nm_branch']; ?></td>
						
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>