<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA KONTAK</th>
						<th>EMAIL</th>
						<th>No. TELEPON</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listKontak as $dataKontak) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataKontak['id_kontak']);?>','<?php echo escQuoteJS($dataKontak['nm_kontak']);?>'))">
						<td><?php echo $dataKontak['nm_kontak']; ?></td>
						<td><?php echo $dataKontak['email']; ?></td>
						<td><?php echo $dataKontak['tlp']; ?></td>
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>