<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA OINCOME</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listOincome as $dataOincome) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataOincome['id_oincome']);?>','<?php echo escQuoteJS($dataOincome['nm_oincome']);?>'))">
						<td><?php echo $dataOincome['nm_oincome']; ?></td>
						
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>