<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbwil" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NO PO</th>
						<th>TGL.PO</th>
						<th>SUPPLIER</th>
						<th>KETERANGAN</th>
						
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listPo as $dataPo) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataPo['id_po']);?>','<?php echo escQuoteJS($dataPo['no_po']);?>','<?php echo escQuoteJS($dataPo['tgl_po_fmt']);?>','<?php echo escQuoteJS($dataPo['keterangan']);?>','<?php echo escQuoteJS($dataPo['id_supplier']);?>','<?php echo escQuoteJS($dataPo['nm_supplier']);?>'))">
						<td><?php echo $dataPo['no_po']; ?></td>
						<td><?php echo $dataPo['tgl_po']; ?></td>
						<td><?php echo $dataPo['nm_supplier']; ?></td>
						<td><?php echo $dataPo['keterangan']; ?></td>
					</tr>
					<?php $i++; } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbwil',true,true,true,true,true,true);});</script>

