<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbwil" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA Rumah</th>
						<th>NO RUMAH</th>
						<th>HARGA</th>
						<th>CLUSTER</th>
						
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listRumah as $dataRumah) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataRumah['id_rumah']);?>','<?php echo escQuoteJS($dataRumah['nm_rumah']);?>'))">
						<td><?php echo $dataRumah['nm_rumah']; ?></td>
						<td><?php echo $dataRumah['no_rumah']; ?></td>
						<td><?php echo $dataRumah['harga']; ?></td>
						<td><?php echo $dataRumah['nm_cluster']; ?></td>
					</tr>
					<?php $i++; } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbwil',true,true,true,true,true,true);});</script>