<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA SUPPLIER</th>
						<th>ALAMAT</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listSupplier as $dataSupplier) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataSupplier['id_supplier']);?>','<?php echo escQuoteJS($dataSupplier['nm_supplier']);?>'))">
						<td><?php echo $dataSupplier['nm_supplier']; ?></td>
						<td><?php echo $dataSupplier['alamat']; ?></td>
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>