<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA TYPE KONTAK</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listTypeKontak as $dataTypeKontak) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataTypeKontak['id_type_kontak']);?>','<?php echo escQuoteJS($dataTypeKontak['nm_type_kontak']);?>'))">
						<td><?php echo $dataTypeKontak['nm_type_kontak']; ?></td>
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>