<?php echo $this->render('helper/function.phtml');?>
<div class="box  box-info">
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbajar" class="table table-bordered table-hover" style="cursor: pointer;">
				<thead align="center">
					<tr>
						<th>NAMA TIPE KAS</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($this->listTipeKas as $dataTipeKas) { ?>
					<tr onclick="insVal('<?php echo $this->readyCaller;?>', new Array('<?php echo escQuoteJS($dataTipeKas['id_tipe_kas']);?>','<?php echo escQuoteJS($dataTipeKas['nm_tipe_kas']);?>'))">
						<td><?php echo $dataTipeKas['nm_tipe_kas']; ?></td>
					</tr>
					<?php } ?>
			</table>
		</div>
	</div>
</div>
<script>$(function () {tabel('tbajar',true,true,true,true,true,true);});</script>