<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><?php echo $this->title; ?></title>
		<link rel="shortcut icon" href="<?php echo $this->publicUrl;?>/img/logo.PNG">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/plugins/iCheck/square/blue.css">
	</head>
	<body background="<?php echo $this->publicUrl;?>/img/bgr.jpg">
		<div class="login-box">
			<div class="login-logo">
				
			</div>
			<h4 align="center" class="">
				<font color="white"><strong>SISTEM INFORMASI SDM</strong></font>
			</h4>
			<div class="login-box-body">
				<p class="login-box-msg">Login User</p>
				<form method="post">
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="Username" name="txtUsername" autofocus="autofocus">
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="password" class="form-control" placeholder="Password" name="txtPass">
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<div class="row">
						<div class="col-xs-8">
							<div>
								<label><?php echo $this->message; ?></label>
							</div>
						</div>
						<div class="col-xs-4">
							<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
						</div>
					</div>
				</form>
				<p class="text-muted">copyright &copy; 2016 <?php echo $this->nickname;?></p>
			</div>
		</div>
	</body>
</html>