<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Kontak</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Kontak</label>
					<div class="col-sm-4">
						<input type="text" id="id_kontak" value="<?php echo $this->id_kontak; ?>" >
						<input type="text" class="form-control" id="nm_kontak" placeholder="Nama Kontak" maxlength="50" value="<?php echo $this->nm_kontak; ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Type Kontak</label>
					<div class="col-sm-4">
                    		<input type="text" id="id_type_kontak" value="<?php echo $this->id_type_kontak; ?>" style="display:none;">
                       		<input type="text" class="form-control" id="nm_type_kontak" maxlength="50" value="<?php echo $this->nm_type_kontak; ?>" readonly="readonly"  placeholder="Type Kontak">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">No. Telepon</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="tlp"  value="<?php echo $this->tlp; ?>"  placeholder="No. Telepon" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="email" placeholder="Email"  value="<?php echo $this->email; ?>"  maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Alamat</label>
					<div class="col-sm-4">
						<textarea id="alamat"  class="form-control" placeholder="Alamat"><?php echo $this->alamat; ?> </textarea>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	   ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/kontak/aupd","/kontak/index?new=","u");
	  return false;
	});
</script>