<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Supplier</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Kontak</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nm_kontak" placeholder="Nama Kontak" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Type Kontak</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_type_kontak" style="display:none;">
                       		<input type="text" class="form-control" id="nm_type_kontak" readonly="readonly" placeholder="Type Kontak">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/tipekontak',new Array('id_type_kontak','nm_type_kontak'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">No. Telepon</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="tlp" placeholder="No. Telepon" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="email" placeholder="Nama Kontak" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Alamat</label>
					<div class="col-sm-4">
						<textarea id="alamat"  class="form-control" placeholder="Alamat"></textarea>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/kontak/ains","/kontak/index?new=","i");
	  return false;
	});
</script>