<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Edit Data Mutasi Kas</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Mutasi</label>
					<div class="col-sm-4">
						<input type="hidden" readonly class="form-control" id="id_mutasi_kas" value="<?php echo $this->id_mutasi_kas ?>" >
						<input type="text" readonly class="form-control" id="tgl_mutasi" value="<?php echo $this->tgl ?>" placeholder="Tanggal Mutasi" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kas</label>
					<div class="col-sm-4">
						<input type="hidden" readonly class="form-control" id="id_kas_from" value="<?php echo $this->id_kas_from ?>" >
                		<input type="text" id="nm_kas" class="form-control" readonly value="<?php echo $this->nm_kas_from ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kas</label>
					<div class="col-sm-4">
						<input type="hidden" readonly class="form-control" id="id_kas_to" value="<?php echo $this->id_kas_to ?>" >
                		<input type="text" id="nm_kas" class="form-control" readonly value="<?php echo $this->nm_kas_to ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nominal</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="nominal" step="0.01" placeholder="Nominal" value="<?php echo $this->nominal ?>" maxlength="50" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<textarea id="keterangan" class="form-control" placeholder="Keterangan"><?php echo $this->keterangan?></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">No. Bukti</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="no_bukti"  placeholder="No. Bukti" maxlength="50"  value="<?php echo $this->no_bukti ?>"></textarea>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_mutasi').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/mutasikas/aupd","/mutasikas/index?new=","u");
	  return false;
	});
</script>