<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Mutasi Kas</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Mutasi</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="tgl_mutasi" placeholder="Tanggal Mutasi" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kas Masuk</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_kas_from" style="display:none;">
                       		<input type="text" class="form-control" id="nm_kas_from" readonly="readonly" placeholder="Kas Masuk">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/kas',new Array('id_kas_from','nm_kas_from','id_branch_from'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kas Keluar</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_kas_to" style="display:none;">
                       		<input type="text" class="form-control" id="nm_kas_to" readonly="readonly" placeholder="Kas Keluar">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/kas',new Array('id_kas_to','nm_kas_to','id_branch_from'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nominal</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="nominal" step="0.01" placeholder="Nominal" maxlength="50" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<textarea id="keterangan" class="form-control" placeholder="Keterangan"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">No. Bukti</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="no_bukti"  placeholder="No. Bukti" maxlength="50" ></textarea>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_mutasi').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/mutasikas/ains","/mutasikas/list?new=","i");
	  return false;
	});
</script>