<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data ITEM</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Item</label>
					<div class="col-sm-4">
						<input type="hidden" readonly class="form-control" id="id" value="<?php echo $this->id ?>" >
                   		<input type="text" class="form-control" id="nm"  placeholder="Nama" value="<?php echo $this->nm ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kode Item</label>
					<div class="col-sm-4">
                   		<input type="text" class="form-control" id="kd"  placeholder="Kode" value="<?php echo $this->kd ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Class</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_item_class" style="display:none;" value="<?php echo $this->id_item_class ?>">
                       		<input type="text" class="form-control" id="nm_class" value="<?php echo $this->nm_class ?>" readonly="readonly" placeholder="Nama Class">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/itemclass',new Array('id_item_class','nm_class'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<textarea class="form-control" id="keterangan" placeholder="Keterangan" maxlength="50"><?php echo $this->keterangan; ?></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Unit</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_unit" style="display:none;" value="<?php echo $this->id_unit ?>">
                       		<input type="text" class="form-control" id="nm_unit" value="<?php echo $this->nm_unit ?>" readonly="readonly" placeholder="Nama Unit">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/satuan',new Array('id_unit','nm_unit'))">...</a></div>
                    	</div>
					</div>
				</div>

				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/item/aupd","/item/index?new=","u");
	  return false;
	});
</script>