<link rel="stylesheet" href="<?php echo $this->publicUrl;?>/dist/css/AdminLTE.min.css">
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Data Item</h3>
    </div>
    <div class="box-body">
        <form class="form-horizontal" method="post" id="frm">
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nama Item *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="nm" placeholder="nama item" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Kode Item *</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="kd" placeholder="kode item" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Nama Class</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" id="id_item_class" style="display:none;">
                                <input type="text" class="form-control" id="nm_class" readonly="readonly" placeholder="Nama Unit">
                                <div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/itemclass',new Array('id_item_class','nm_class'))">...</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Keterangan *</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" placeholder="Keterangan" id="keterangan"></textarea>
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Nama Unit</label>
						<div class="col-sm-8">
							<div class="input-group">
	                    		<input type="text" id="id_unit" style="display:none;">
	                       		<input type="text" class="form-control" id="nm_unit" readonly="readonly" placeholder="Nama Unit">
	                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/satuan',new Array('id_unit','nm_unit'))">...</a></div>
	                    	</div>
						</div>
					</div>
                    <div class="box-footer col-sm-12">
                    	<button type="reset" class="btn btn-default col-sm-2">Reset</button>
                        <button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
    $("#frm").submit(function() {
      ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/item/ains","/item/index?id=","i");
      return false;
    });
</script>