<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-info">
	<div class="box-header with-border">
		Daftar Saldo AWal Kas
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbl" class="table table-bordered table-hover">
				<thead align="center">
					<tr>
						<th>NAMA KAS</th>
						<th>NAMA BRANCH</th>
						<th>NO. TELEPON</th>
						<th>EMAIL</th>
						<th>ALAMAT</th>
						<th>TANGGAL SALDO AWAL</th>
						<th>NOMINAL SALDO</th>
						<th>AKSI</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listSaKas as $data) { ?>
					<tr>
						<td><?php echo $data['nm_kas']; ?></td>
						<td><?php echo $data['nm_branch']; ?></td>
						<td><?php echo $data['tlp']; ?></td>
						<td><?php echo $data['email']; ?></td>
						<td><?php echo $data['alamat']; ?></td>
						<td><?php echo $data['tgl_saldo_awal_fmt']; ?></td>
						<td><?php echo $data['nominal_sa']; ?></td>
						
						<td align="center">
							<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/sakas/edit?id=<?php echo $data['id_kas'];?>')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus saldo awal kas ini ? <strong><?php echo str_replace("'", "\'", $data['nm_kas']);?></strong>','<?php echo $this->baseUrl;?>','/sakas/adel',new Array('<?php echo $data['id_kas'];?>'))"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});</script>
<!-- DataTables -->
<script src="<?php echo $this->publicUrl?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl?>/js/tabel.js"></script>
<script>$(function () {tabel('tbl',true,true,true,false,true,false);});</script>



