<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data SALDO AWAL KAS</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Kas</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_kas" style="display:none;">
                       		<input type="text" class="form-control" id="nm_kas" readonly="readonly" placeholder="Kas">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/kas',new Array('id_kas','nm_kas','id_branch'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Branch</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="id_branch" readonly="" placeholder="Nama Branch" maxlength="50" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nominal Saldo</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="nominal_sa" step="0.01" placeholder="Nominal Saldo" maxlength="50" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Saldo</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="tgl_saldo_awal" placeholder="Tanggal Saldo" maxlength="50">
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_saldo_awal').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/sakas/ains","/sakas/list?new=","i");
	  return false;
	});
</script>