<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data So</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal So</label>
					<div class="col-sm-4">
						<input type="hidden" readonly class="form-control" id="id" value="<?php echo $this->id_so ?>" >
						<input type="text" readonly class="form-control" id="tgl_so" placeholder="Tanggal So" maxlength="50" value="<?php echo $this->tgl_so; ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<textarea class="form-control" id="keterangan" placeholder="Keterangan" maxlength="50"><?php echo $this->keterangan; ?></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Booking V</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="booking" placeholder="Booking" min="1" step="0.01" value="<?php echo $this->booking; ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Uang Muka</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="uang_muka" placeholder="Uang Muka" min="1" step="0.01" value="<?php echo $this->uang_muka; ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Customer</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_customer" value="<?php echo $this->id_customer; ?>" style="display:none;">
                       		<input type="text" class="form-control" id="nm_customer" readonly="readonly" placeholder="Customer" value="<?php echo $this->nm_customer; ?>">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/customer',new Array('id_customer','nm_customer','kontak'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Kontak</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="kontak" placeholder="Kontak" maxlength="50" value="<?php echo $this->kontak; ?>"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Rumah</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" id="id_rumah" value="<?php echo $this->id_rumah ?>" style="display:none;">
                       		<input type="text" class="form-control" id="nm_rumah" readonly="readonly" value="<?php echo $this->nm_rumah; ?>" placeholder="Rumah">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/rumah',new Array('id_rumah','nm_rumah'))">...</a></div>
                       	</div>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_so').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/so/aupd","/so/index?new=","u");
	  return false;
	});
</script>