<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-info">
	<div class="box-header with-border">
		Daftar Sales Order 
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbl" class="table table-bordered table-hover">
				<thead align="center">
					<tr>
						<th>NO.SO</th>
						<th>TGL.SO</th>
						<th>KETERANGAN</th>
						<th>BOOKING V</th>
						<th>UANG MUKA</th>
						<th>NAMA CUSTOMER</th>
						<th>NAMA RUMAH</th>
						<th>STATUS</th>
						<th>AKSI</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listSo as $data) { ?>
					<tr>
						<td><?php echo $data['no_so']; ?></td>
						<td><?php echo $data['tgl_so_fmt']; ?></td>
						<td><?php echo $data['keterangan']; ?></td>
						<td><?php echo $data['booking_v']; ?></td>
						<td><?php echo $data['uang_muka']; ?></td>
						<td><?php echo $data['nm_customer']; ?></td>
						<td><?php echo $data['nm_rumah']; ?></td>
						<?php 
							if($data['closed']=='t'){
								$closed="CLOSED";
								$color="success";
							}else{
								$closed="OPEN";
								$color="danger";
							}
						?>
						<td align="center"><span class="label label-<?php echo $color;?>"><?php echo $closed; ?></span></td>
						<td align="center">
							<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/so/edit?id=<?php echo $data['id_so'];?>')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus so ini ? <strong><?php echo str_replace("'", "\'", $data['no_so']);?></strong>','<?php echo $this->baseUrl;?>','/so/adel',new Array('<?php echo $data['id_so'];?>'))"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});</script>
<!-- DataTables -->
<script src="<?php echo $this->publicUrl?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl?>/js/tabel.js"></script>
<script>$(function () {tabel('tbl',true,true,true,false,true,false);});</script>



