<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Rumah</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Rumah</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nm" placeholder="Nama Rumah" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nomer Rumah</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="no" placeholder="Nomer Rumah" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Harga</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="harga" placeholder="Harga" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Cluster</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_cluster" style="display:none;">
                       		<input type="text" class="form-control" id="nm_cluster" readonly="readonly" placeholder="Cluster">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/cluster',new Array('id_cluster','nm_cluster'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/rumah/ains","/rumah/index?new=","i");
	  return false;
	});
</script>