<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data RI</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">NO.PO</label>
					<div class="col-sm-4">
						<input type="hidden" readonly class="form-control" id="id" value="<?php echo $this->id_ri ?>" >
                		<input type="text" id="id_po" style="display:none;" value="<?php echo $this->id_po ?>">
                   		<input type="text" class="form-control" id="no_po" readonly="readonly" placeholder="PO" value="<?php echo $this->no_po ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">TGL.PO</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tgl_po" placeholder="TGL.PO" maxlength="50" value="<?php echo $this->tgl_po ?>" readonly=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<textarea class="form-control" id="keterangan" placeholder="Keterangan" readonly="" maxlength="50"><?php echo $this->keterangan; ?></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Supplier</label>
					<div class="col-sm-4">
						<input type="text" id="id_supplier" style="display:none;" value="<?php echo $this->id_supplier ?>">
						<input type="text" readonly class="form-control" id="nm_supplier" placeholder="Supplier" maxlength="50" value="<?php echo $this->nm_supplier ?>" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Ri</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tgl_ri" placeholder="Tanggal Ri" maxlength="50" value="<?php echo $this->tgl_ri ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Vat In</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="vat_in" placeholder="Vat In" min="0" max="10" step="10" value="<?php echo $this->vat_in ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Diskon</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="diskon_ri" placeholder="Diskon" min="1" step="0.01" value="<?php echo $this->diskon_ri ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">No.INV Supplier</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="no_inv_supp" placeholder="No.INV Supplier" max="50" value="<?php echo $this->no_inv_supp?>">
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_ri').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/ri/aupd","/ri/index?new=","u");
	  return false;
	});
</script>