<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-info">
	<div class="box-header with-border">
		Daftar Penerimaan Barang 
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table id="tbl" class="table table-bordered table-hover">
				<thead align="center">
					<tr>
						<th>NO.RI</th>
						<th>NO.PO</th>
						<th>TGL.RI</th>
						<th>SUPPLIER</th>
						<th>VAT IN</th>
						<th>DISKON</th>
						<th>NO.INV SUPPLIER</th>
						<th>STATUS</th>
						<th>AKSI</th>
					</tr>
				</thead>
				<tbody>
					<?php $i=1;foreach ($this->listRi as $data) { ?>
					<tr>
						<td><?php echo $data['no_ri']; ?></td>
						<td><?php echo $data['no_po']; ?></td>
						<td><?php echo $data['tgl_ri_fmt']; ?></td>
						<td><?php echo $data['nm_supplier']; ?></td>
						<td><?php echo $data['vat_in']; ?></td>
						<td><?php echo $data['diskon_ri']; ?></td>
						<td><?php echo $data['no_inv_supp']; ?></td>
						<?php 
							if($data['closed']=='t'){
								$closed="CLOSED";
								$color="success";
							}else{
								$closed="OPEN";
								$color="danger";
							}
						?>
						<td align="center"><span class="label label-<?php echo $color;?>"><?php echo $closed; ?></span></td>
						<td align="center">
							<button type="button" class="btn btn-warning btn-xs" onclick="nav('<?php echo $this->baseUrl;?>/ri/edit?id=<?php echo $data['id_ri'];?>')"><i class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger btn-xs" onclick="confirm('Apakah Anda yakin akan menghapus ri ini ? <strong><?php echo str_replace("'", "\'", $data['no_ri']);?></strong>','<?php echo $this->baseUrl;?>','/ri/adel',new Array('<?php echo $data['id_ri'];?>'))"><i class="fa fa-remove"></i></button>
						</td>
					</tr>
					<?php $i++; } ?>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});</script>
<!-- DataTables -->
<script src="<?php echo $this->publicUrl?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl?>/js/tabel.js"></script>
<script>$(function () {tabel('tbl',true,true,true,false,true,false);});</script>



