<link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.css">
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Penerimaan Barang</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">NO.PO</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_po" style="display:none;">
                       		<input type="text" class="form-control" id="no_po" readonly="readonly" placeholder="PO">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/po',new Array('id_po','no_po','tgl_po','keterangan','id_supplier','nm_supplier'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">TGL.PO</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tgl_po" placeholder="TGL.PO" maxlength="50" readonly=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Keterangan</label>
					<div class="col-sm-4">
						<textarea class="form-control" id="keterangan" placeholder="Keterangan" maxlength="50" readonly=""></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Supplier</label>
					<div class="col-sm-4">
						<input type="text" id="id_supplier" style="display:none;">
						<input type="text" readonly class="form-control" id="nm_supplier" placeholder="Supplier" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Ri</label>
					<div class="col-sm-4">
						<input type="text" readonly class="form-control" id="tgl_ri" placeholder="Tanggal Ri" maxlength="50">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Vat In</label>
					<div class="col-sm-4">
						<select class="form-control" id="vat_in">
							<option value="10">YA</option>
							<option value="0">Tidak</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Diskon</label>
					<div class="col-sm-4">
						<input type="number" class="form-control" id="diskon_ri" placeholder="Diskon" min="1" step="0.01">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">No.INV Supplier</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="no_inv_supp" placeholder="No.INV Supplier" max="50">
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/moment.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/daterangepicker/daterangepicker.js"></script>
<script>
	$(function () {
	  $('#tgl_ri').daterangepicker({singleDatePicker:true,showDropdowns:true,locale: {format: 'DD MMMM YYYY'}});
	});
</script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/ri/ains","/ri/list?new=","i");
	  return false;
	});
</script>