<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Kas</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Supplier</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_kontak" style="display:none;">
                       		<input type="text" class="form-control" id="nm_kontak" readonly="readonly" placeholder="Nama Supplier">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/kontak',new Array('id_kontak','nm_kontak'))">...</a></div>
                    	</div>
					</div>
				</div>
			
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	  ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/supplier/ains","/supplier/index?new=","i");
	  return false;
	});
</script>