</body>
</html>
<script>
	function insVal(arrCaller,arrValue){
		arrCaller=(arrCaller.replace('}','')).replace('{','');
		arrCaller=arrCaller.split(',');
		for (i=0;i<arrCaller.length;i++){
			$('#'+arrCaller[i]).val(arrValue[i]);
		}
		$("#myModal").modal('hide');
	}
</script>