</section>
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <div id=loader style=display:none><img id=loadingbar src=<?php echo $this->publicUrl;?>/dist/img/loading.gif></div>
        <a href="http://cebersoft.com" target="new">cebersoft.inc</a>
    </div>
    <strong>Sekolah Tinggi Farmasi Indonesia &copy; 2017.</strong>
</footer>
</html>
<script src=<?php echo $this->publicUrl; ?>/js/helper.js></script>
<script src=<?php echo $this->publicUrl?>/plugins/slimScroll/jquery.slimscroll.min.js></script>
<script src="<?php echo $this->publicUrl?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="<?php echo $this->publicUrl?>/plugins/priceformat/jquery.priceformat.min.js"></script>
<script src="<?php echo $this->publicUrl?>/js/tabel.js"></script>
<script src=<?php echo $this->publicUrl; ?>/js/global.js></script>