<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <title><?php echo strtoupper($this->title);?></title>
        <link rel="shortcut icon" href="<?php echo $this->publicUrl;?>/img/logo.png">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name=viewport>
        <link rel=stylesheet href="<?php echo $this->publicUrl;?>/bootstrap/css/bootstrap.min.css">
        <link rel=stylesheet href="<?php echo $this->publicUrl;?>/dist/css/AdminLTE.min.css">
        <link rel=stylesheet href="<?php echo $this->publicUrl;?>/dist/css/skins/skin-green.min.css">
        <link rel=stylesheet href="<?php echo $this->publicUrl;?>/dist/font-awesome/css/font-awesome.min.css">
        <link rel=stylesheet href="<?php echo $this->publicUrl;?>/dist/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="<?php echo $this->publicUrl?>/plugins/datatables/dataTables.bootstrap.css">
    </head>
    <body class="hold-transition skin-green fixed sidebar-mini <?php echo $this->sidecolaps;?> ">
        <script src="<?php echo $this->publicUrl?>/plugins/jQuery/jQuery-2.2.0.min.js"></script>
        <script src="<?php echo $this->publicUrl?>/bootstrap/js/bootstrap.min.js"></script>
        <script src="<?php echo $this->publicUrl?>/dist/js/app.min.js"></script>
        <div class="wrapper">
        <header class="main-header">
            <a href="<?php echo $this->baseUrl?>/home" class="logo">
                <span class="logo-mini"></span>
                <span class="logo-lg"><i class="fa fa-hospital-o"></i>&nbsp;&nbsp;SI. HRD</span>
            </a>
            <nav class="navbar navbar-static-top" role=navigation>
                <a href=# class=sidebar-toggle data-toggle=offcanvas role=button>
                <span class=sr-only>Toggle navigation</span>
                </a>
                <div class=navbar-custom-menu>
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href=# class=dropdown-toggle data-toggle=dropdown>
                            <img src="<?php echo $this->publicUrl;?>/dist/img/avatar5.png" class="user-image" alt="User Image">
                            <span class=hidden-xs><?php echo $this->namauser;?></span>
                            </a>
                            <ul class=dropdown-menu>
                                <li class=user-header>
                                    <img src="<?php echo $this->publicUrl;?>/dist/img/avatar5.png" class="img-circle" alt="User Image">
                                    <p>
                                        <?php echo $this->namauser;?>
                                    </p>
                                </li>
                                <!-- <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href=<?php echo $this->baseUrl;?>/profile>Profile</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Message</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href=<?php echo $this->baseUrl;?>/profile/akses >Akses</a>
                                        </div>
                                    </div>
                                </li> -->
                                <li class=user-footer>
                                    <!-- <div class=pull-left>
                                        <a href=# class="btn btn-default btn-flat"><i class="fa fa-question-circle"></i> Help</a>
                                    </div> -->
                                    <div class=pull-right>
                                        <a href=<?php echo $this->baseUrl;?>/logout class="btn btn-default btn-flat">Sign out <i class="fa  fa-sign-out"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class=main-sidebar>
            <section class=sidebar>
                <div class=user-panel>
                    <div class="pull-left image">
                        <img src="<?php echo $this->publicUrl;?>/dist/img/avatar5.png" class=img-circle alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p><?php echo $this->namauser;?></p>
                        <a><i class="fa fa-calendar text-success"></i><?php echo date("d M Y")?></a>
                    </div>
                </div>
                <ul class=sidebar-menu>
                   <li class=header>Master Data :</li>
                   <li class="treeview <?php echo $this->active_mst;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>KELOLA ITEM</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->active_satuan;?>">
                                <a href="<?php echo $this->baseUrl;?>/satuan">
                                    <i class="fa fa-cube"></i><span>Satuan</span>   
                                </a>
                                </li>                  
                                <li class="<?php echo $this->active_unitkonv;?>">
                                <a href="<?php echo $this->baseUrl;?>/unitkonv">
                                    <i class="fa fa-cube"></i><span>Unit Konversi</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_item;?>">
                                <a href="<?php echo $this->baseUrl;?>/item">
                                    <i class="fa fa-cube"></i><span>Item</span> 
                                </a>
                                </li>

                                <li class="<?php echo $this->active_kas;?>">
                                <a href="<?php echo $this->baseUrl;?>/kas">
                                    <i class="fa fa-cube"></i><span>Kas</span> 
                                </a>
                                </li>
                                
                            </ul>
                           
                </li>
                <li class="treeview <?php echo $this->active_mst_kontak;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>MASTER KONTAK</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->active_kontak;?>">
                                <a href="<?php echo $this->baseUrl;?>/kontak">
                                    <i class="fa fa-cube"></i><span>Kontak</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_customer;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Customer</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_supplier;?>">
                                <a href="<?php echo $this->baseUrl;?>/supplier">
                                    <i class="fa fa-cube"></i><span>Supplier</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_kreditur;?>">
                                <a href="<?php echo $this->baseUrl;?>/kreditur">
                                    <i class="fa fa-cube"></i><span>Kreditur</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/debitur">
                                    <i class="fa fa-cube"></i><span>Debitur</span> 
                                </a>
                                </li>
                                
                            </ul>
                    </li>
                    <li class="treeview <?php echo $this->active_mst_keuangan;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>MASTER KEUANGAN</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->active_kas;?>">
                                <a href="<?php echo $this->baseUrl;?>/kas">
                                    <i class="fa fa-cube"></i><span>Kas</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_cost;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Cost</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_penerimaanlain;?>">
                                <a href="<?php echo $this->baseUrl;?>/penerimaanlain">
                                    <i class="fa fa-cube"></i><span>Penerimaan Lain</span> 
                                </a>
                                </li>                                
                            </ul>  
                    </li>
                    <li class=header>Struktur Menu :</li>
                    <li class="treeview <?php echo $this->active_mts;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>MUTASI KAS / BANK</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->active_sakas;?>">
                                <a href="<?php echo $this->baseUrl;?>/sakas">
                                    <i class="fa fa-cube"></i><span>Saldo Awal Kas</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_mutasikas;?>">
                                <a href="<?php echo $this->baseUrl;?>/mutasikas">
                                    <i class="fa fa-cube"></i><span>Mutasi Kas</span> 
                                </a>
                                </li>                                
                            </ul>
                    </li>
                    <li class="treeview <?php echo $this->active_mst;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>PENGELUARAN COST</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Pengeluaran Cost</span> 
                                </a>
                                </li>                                
                            </ul>
                    </li>
                    <li class="treeview <?php echo $this->active_mst;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>PENERIMAAN LAIN</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">                            
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Penerimaan Lain</span> 
                                </a>
                                </li>                                
                            </ul>
                    </li>
                    <li class="treeview <?php echo $this->active_mst;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>BAYAR INVOICE</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">                                
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Bayar Invoice</span> 
                                </a>
                                </li>                                
                            </ul>
                    </li>
                    <li class="treeview <?php echo $this->active_mst;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>PEMBELIAN (SCM)</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Pemesanan(PO)</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Penerimaan(RI)</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Retur Pembelian(RTN)</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Invoice</span> 
                                </a>
                                </li>                                 
                            </ul>  
                    </li>
                    <li class="treeview <?php echo $this->active_mst;?>">
                            <a href=#>
                                <i class="fa fa-users"></i>
                                <span>PENJUALAN (CRM)</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Sales Order(SO)</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Pengiriman(DLV)</span> 
                                </a>
                                </li>
                                <li class="<?php echo $this->active_debitur;?>">
                                <a href="<?php echo $this->baseUrl;?>/#">
                                    <i class="fa fa-cube"></i><span>Retur Penjualan(RTR)</span> 
                                </a>
                                </li>                             
                            </ul>  
                    </li>                  
                </ul>
            </section>
        </aside>
        <div class=content-wrapper>
        <nav class="navbar navbar-default">
            <div class=container-fluid>
                <div class="navbar-nav navbar-right">
                    <h4 class=navbar-text>&nbsp;&nbsp;<?php echo strtoupper($this->title); ?>&nbsp;&nbsp;</h4>
                </div>
                <div class="navbar-nav navbar-left">
                    &nbsp;
                    <button class="btn btn-primary btn-sm navbar-btn" onclick="nav('<?php echo $this->baseUrl; ?>/<?php echo $this->lback;?>')" <?php echo $this->bdis;?>><i class="fa fa-backward"></i>&nbsp;&nbsp;Back</button>
                    <button class="btn btn-primary btn-sm" onclick="nav('<?php echo $this->baseUrl; ?>/<?php echo $this->llist;?>')" <?php echo $this->ldis;?>><i class="fa fa-list"></i>&nbsp;&nbsp;List</button>
                    <button class="btn btn-primary btn-sm" onclick="nav('<?php echo $this->baseUrl; ?>/<?php echo $this->lnew;?>')" <?php echo $this->ndis;?>><i class="fa fa-plus"></i>&nbsp;&nbsp;New</button>
                    <button class="btn btn-primary btn-sm" onclick="nav('<?php echo $this->baseUrl; ?>/<?php echo $this->lexport;?>')" <?php echo $this->edis;?>><i class="fa fa-file-o"></i>&nbsp;&nbsp;Export</button>
                    <button class="btn btn-primary btn-sm" onclick="nav('<?php echo $this->baseUrl; ?>/<?php echo $this->limport;?>')" <?php echo $this->idis;?>><i class="fa fa-upload"></i>&nbsp;&nbsp;Upload</button>
                </div>
            </div>
        </nav>
        <section class=content style=padding-top:0px>
        <div class="modal fade" id=myModal tabindex=-1 role=dialog aria-labelledby=myModalLabel aria-hidden=true>
            <div class=modal-dialog>
                <div class=modal-content>
                    <div class=modal-header>
                        <h4>Halaman <?php echo $this->title; ?></h4>
                    </div>
                    <div class=modal-body></div>
                    <div class=modal-footer>
                        <button type=button id=btC class="btn btn-default" data-dismiss=modal>Close</button>
                    </div>
                </div>
            </div>
        </div>
