<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Data Oincome</h3>
	</div>
	<div class="box-body">
		<form class="form-horizontal" method="post" id="frm">
			<div class="box-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Nama Oincome</label>
					<div class="col-sm-4">
						<input type="hidden" id="id" value="<?php echo $this->id; ?>" >
						<input type="text" class="form-control" id="nm_oincome" placeholder="Nama Oincome" maxlength="50" value="<?php echo $this->nm; ?>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">ID Branch</label>
					<div class="col-sm-4">
						<div class="input-group">
                    		<input type="text" id="id_branch" style="display:none;" value="<?php echo $this->id_branch; ?>">
                       		<input type="text" class="form-control"  id="id_branch" readonly="readonly" placeholder="Branch" value="<?php echo $this->id_branch; ?>">
                       		<div class="input-group-addon"><a class="btn btn-xs btn-default" onclick="hbox('<?php echo $this->baseUrl;?>','helper/branch',new Array('id_branch'))">...</a></div>
                    	</div>
					</div>
				</div>
				<div class="box-footer col-sm-6">
					<button type="reset" class="btn btn-default pull-left col-sm-2">Reset</button>
					<button type="submit" class="btn btn-primary pull-right col-sm-2">Simpan</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="<?php echo $this->publicUrl;?>/js/form.js"></script>
<script>
	$("#frm").submit(function() {
	   ajaxSubmit("frm","<?php echo $this->baseUrl;?>","/kas/aupd","/kas/index?new=","u");
	  return false;
	});
</script>